In [ ]:
print("hello world")

hello world

In [ ]:
print("ML!!!!!")

ML!!!!!

In [ ]:
a=100
print(id(a))

10754024

In [ ]:
a=100
b=100
print(a,b)
c=20
a=c
a=print (a)

100 100
20

In [ ]:
b=100
print(id(b))

10754024

In [ ]:
a=500
print(id(a))

133524575191472

In [ ]:
b=a
print(id(b))

133524575191472

In [ ]:
a,b,c=10,20,30
print(a)
print(a,b,c)

10
10 20 30

In [ ]:
a=b=c=10
print(a,b,c)

10 10 10

In [ ]:
import keyword as ky
print(ky.kwlist) #It will list all the keywords in python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#multiline comment
""" aaaa
dddd
dddd"""
a=100
print('Adhya Please concentrate!!!')

Adhya Please concentrate!!!

In [ ]:

p='NTT'
print (p)
a="Data"
print(p,a)

NTT
NTT Data

In [ ]:
#multine line string
p="""aaaa
bbb
ccc
ddd """
print (p)

aaaa
bbb
ccc
ddd

In [ ]:
p="NTT Data"
print(p[0])
print(p[-1])

N
a

In [ ]:
p="NTT Data"
print(p[0])

N

In [ ]:
# simple  If startement

if 10>15:

  print("start of if")
  print("10 is greater")
  print("end of if")
  print("HI")


print("end of program")

end of program

In [ ]:
# input function

a = input("Enter a value") # input fn reatuns all the values in string format
print(a)
print(type(a))

Enter a value10
10
<class 'str'>

In [ ]:
# input function with type casting

a = int(input("Enter a value")) # input fn reatuns all the values in string format
print(a)
print(type(a))

Enter a value8
8
<class 'int'>

In [ ]:
# if else statement

a = int(input("Enter a value"))
b = int(input("Enter b value"))

if a>b:
  print("a is greater")
  print("if block")
else:
  print("b is greater")
  print("else block")

Enter a value6
Enter b value9
b is greater
else block

In [ ]:
# if else ladder

s = input("enetr a color")

if s == "red":
  print("stop")
elif s == "yellow":
  print("ready")
elif s == "green":
  print("go")
else:
  print("invalid color")

enetr a colorred
stop

In [ ]:
text = input("enter a string")  # program to check the palindrome
text = text.lower()

revtext = text[::-1]

if text == revtext:
  print("Palindrome")
else:
  print("Not Palindrome")

enter a stringmaam
Palindrome

In [ ]:
# while loop

i=10

while i<15 :
  print(i)
  i=i+1

print("end of while")

10
11
12
13
14
end of while

In [ ]:
# Multiplication Table

num = int(input("Enter a number"))

i=1

while i<=10:
  print(num , "*" , i , "=" ,i*num)
  i=i+1

Enter a number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# For loop

s = "2025John"

for i in s:
  print(i)
  print(type(i))

2
<class 'str'>
0
<class 'str'>
2
<class 'str'>
5
<class 'str'>
J
<class 'str'>
o
<class 'str'>
h
<class 'str'>
n
<class 'str'>

In [ ]:
#range function

for i in range(0,11,1):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10

In [ ]:
str1='Adhya'
str2='Rai'
str3=str1+str2
print(str3)
str4=str2*4
print(str4)

AdhyaRai
RaiRaiRaiRai

In [ ]:
St1='Adhya'
St1[1]='D'
print(St1) #string is immutable

TypeError: 'str' object does not support item assignment

In [ ]:
S='Adhya'
del(S)
print(S)

NameError: name 'S' is not defined

In [ ]:
#length of the string
s='Adhya'
c=0
for i in s:
  c+=1
print('length of the string',c)
#using length function
p='Rai'
print('Length of the second string ',len(p))

length of the string 5
Length of the second string  3

In [ ]:
#membership operator
s='appple'
if 'e' in s:
  print('e is present')
else:
  print('e is not present')

e is present

In [ ]:
#count
main_string=input('Enter main string')
sub_string=input('enter substring')
c=main_string.count(sub_string)
print(c)
d=main_string.count(sub_string,0,15)
print(d)

Enter main stringAdhya is the good girl
enter substringg
2
1

In [ ]:
#startswith and endswith
mb_num=input("Enter mobile number")
if mb_num.startswith('+91'):
  print('India')
elif mb_num.startswith('+1'):
  print('USA')
else:
  print("Arab")
mail_id=input('Enter your gmail id')
if mail_id.endswith('.com'):
  print('valid email id')
else:
  print('invalid email id')

Enter mobile number+919999
India
Enter your gmail idadhya.com
valid email id

In [ ]:
#lstrip
name=input("Enter your name")
print(name)
name=name.lstrip()
print(name)

Enter your name       Adhya
       Adhya
Adhya

In [ ]:
name=['https.AdhyaRai','htpsRai.Ayush','httpsRai.Anvitha']
for i in name:
 i=i.lstrip('htps')
 print(i)

.AdhyaRai
Rai.Ayush
Rai.Anvitha

In [ ]:
name=["adhya","aaaadhya","aaaaaadhya"]
for i in name:
 i=i.lstrip("adh")
 print(i)

ya
ya
ya

In [ ]:
url=["https://www.adhya.comhtp","http://www.ajio.com"]
for i in url:
  i=i.lstrip("https://www.")
  print(i)

adhya.comhtp
ajio.com

In [ ]:
url=["https://www.adhya.comhtp","http://www.ajio.com"]
for i in url:
  i=i.rstrip("htp.com")
  print(i)

https://www.adhya
http://www.aji

In [ ]:
url=["https://www.adhya.comhtp","http://www.ajio.com"]
for i in url:
  i=i.strip("htp.com")
  print(i)

s://www.adhya
://www.aji

In [ ]:
#replace
name="Adhya is the good girl, she is good at coding"
replace_string="GOOD"
new_string=name.replace("good","GOOD")
print(new_string)
new_string2=name.replace("good","beautiful",1)
print(new_string2)

Adhya is the GOOD girl, she is GOOD at coding
Adhya is the beautiful girl, she is good at coding

In [ ]:
#find
name="Adhya is the good girl, she is good at coding"
print(name.find("good"))
print(name.find("good",0,15))

13
-1

In [ ]:
name=input("Enter a sentence")
k=name.split()
print(k)
c=0
for i in k:
  if i=="mumbai":
   c=c+1
print(c)

w="adhya,girl,class"
z=w.split(",")
print(z)

Enter a sentenceadhya mumbaiu adhya mumbai mumbai mumbai
['adhya', 'mumbaiu', 'adhya', 'mumbai', 'mumbai', 'mumbai']
3
['adhya', 'girl', 'class']

In [8]:
#list

l1=[10,30,'NTTdata',[10,20,30]]
print(l1[3],l1[-1])
print(type(l1))
print(l1[0:4:2])

[10, 20, 30] [10, 20, 30]
<class 'list'>
[10, 'NTTdata']

In [14]:
#concat
l1=[10,20,30]
l2=[12,30,14]
l3=l1+l2
print(l3)

#multiplication
l4=l1*5
print(l4)

#iteration
for i in [10,20,30,40]:
  print(i+5)

#membership
print(100 in[10,50,30])
print(100 in[100,50,30])

[10, 20, 30, 12, 30, 14]
[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]
15
25
35
45
False
True

In [19]:
#inbuilt func
#max
l1=[10,20,30]
print(max(l1))
l2=['aaa','bbbb','ccc']
print(max(l2))

l3=['aaa','bbbb','ccc']
print(max(l3,key=len))

30
ccc
bbbb

In [20]:
#append
l1=[10,20,30]
l1.append(100)
print(l1)

[10, 20, 30, 100]

In [26]:
l1=[10,20,30]

for i in range(6):
   l2=int(input("Enter a number"))
   l1.append(l2)

print(l1)

Enter a number10
Enter a number20
Enter a number30
Enter a number88
Enter a number99
Enter a number99
[10, 20, 30, 10, 20, 30, 88, 99, 99]

In [27]:
#extend
l1=[10,20,30]
l2=[100,200,300]
l1.extend(l2)
print(l1)

[10, 20, 30, 100, 200, 300]

In [28]:
#insert
l1=[10,20,30]
l1.insert(1,100)
print(l1)

[10, 100, 20, 30]

In [30]:
#remove
l1=[10,20,30]
l1.remove(10)
print(l1)

[20, 30]

In [32]:
#pop
l1=[10,20,30]
l2=l1.pop()
print(l2)
print(l1)

30
[10, 20]