In [ ]:
print("hello world")

hello world

In [ ]:
print("ML!!!!!")

ML!!!!!

In [ ]:
a=100
print(id(a))

10754024

In [ ]:
a=100
b=100
print(a,b)
c=20
a=c
a=print (a)

100 100
20

In [ ]:
b=100
print(id(b))

10754024

In [ ]:
a=500
print(id(a))

133524575191472

In [ ]:
b=a
print(id(b))

133524575191472

In [ ]:
a,b,c=10,20,30
print(a)
print(a,b,c)

10
10 20 30

In [ ]:
a=b=c=10
print(a,b,c)

10 10 10

In [ ]:
import keyword as ky
print(ky.kwlist) #It will list all the keywords in python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#multiline comment
""" aaaa
dddd
dddd"""
a=100
print('Adhya Please concentrate!!!')

Adhya Please concentrate!!!

In [ ]:

p='NTT'
print (p)
a="Data"
print(p,a)

NTT
NTT Data

In [ ]:
#multine line string
p="""aaaa
bbb
ccc
ddd """
print (p)

aaaa
bbb
ccc
ddd

In [ ]:
p="NTT Data"
print(p[0])
print(p[-1])

N
a

In [ ]:
p="NTT Data"
print(p[0])

N

In [ ]:
# simple  If startement

if 10>15:

  print("start of if")
  print("10 is greater")
  print("end of if")
  print("HI")


print("end of program")

end of program

In [ ]:
# input function

a = input("Enter a value") # input fn reatuns all the values in string format
print(a)
print(type(a))

Enter a value10
10
<class 'str'>

In [ ]:
# input function with type casting

a = int(input("Enter a value")) # input fn reatuns all the values in string format
print(a)
print(type(a))

Enter a value8
8
<class 'int'>

In [ ]:
# if else statement

a = int(input("Enter a value"))
b = int(input("Enter b value"))

if a>b:
  print("a is greater")
  print("if block")
else:
  print("b is greater")
  print("else block")

Enter a value6
Enter b value9
b is greater
else block

In [ ]:
# if else ladder

s = input("enetr a color")

if s == "red":
  print("stop")
elif s == "yellow":
  print("ready")
elif s == "green":
  print("go")
else:
  print("invalid color")

enetr a colorred
stop

In [ ]:
text = input("enter a string")  # program to check the palindrome
text = text.lower()

revtext = text[::-1]

if text == revtext:
  print("Palindrome")
else:
  print("Not Palindrome")

enter a stringmaam
Palindrome

In [ ]:
# while loop

i=10

while i<15 :
  print(i)
  i=i+1

print("end of while")

10
11
12
13
14
end of while

In [ ]:
# Multiplication Table

num = int(input("Enter a number"))

i=1

while i<=10:
  print(num , "*" , i , "=" ,i*num)
  i=i+1

Enter a number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# For loop

s = "2025John"

for i in s:
  print(i)
  print(type(i))

2
<class 'str'>
0
<class 'str'>
2
<class 'str'>
5
<class 'str'>
J
<class 'str'>
o
<class 'str'>
h
<class 'str'>
n
<class 'str'>

In [ ]:
#range function

for i in range(0,11,1):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10

In [ ]:
str1='Adhya'
str2='Rai'
str3=str1+str2
print(str3)
str4=str2*4
print(str4)

AdhyaRai
RaiRaiRaiRai

In [ ]:
St1='Adhya'
St1[1]='D'
print(St1) #string is immutable

TypeError: 'str' object does not support item assignment

In [ ]:
S='Adhya'
del(S)
print(S)

NameError: name 'S' is not defined

In [ ]:
#length of the string
s='Adhya'
c=0
for i in s:
  c+=1
print('length of the string',c)
#using length function
p='Rai'
print('Length of the second string ',len(p))

length of the string 5
Length of the second string  3

In [ ]:
#membership operator
s='appple'
if 'e' in s:
  print('e is present')
else:
  print('e is not present')

e is present

In [ ]:
#count
main_string=input('Enter main string')
sub_string=input('enter substring')
c=main_string.count(sub_string)
print(c)
d=main_string.count(sub_string,0,15)
print(d)

Enter main stringAdhya is the good girl
enter substringg
2
1

In [ ]:
#startswith and endswith
mb_num=input("Enter mobile number")
if mb_num.startswith('+91'):
  print('India')
elif mb_num.startswith('+1'):
  print('USA')
else:
  print("Arab")
mail_id=input('Enter your gmail id')
if mail_id.endswith('.com'):
  print('valid email id')
else:
  print('invalid email id')

Enter mobile number+919999
India
Enter your gmail idadhya.com
valid email id

In [ ]:
#lstrip
name=input("Enter your name")
print(name)
name=name.lstrip()
print(name)

Enter your name       Adhya
       Adhya
Adhya

In [ ]:
name=['https.AdhyaRai','htpsRai.Ayush','httpsRai.Anvitha']
for i in name:
 i=i.lstrip('htps')
 print(i)

.AdhyaRai
Rai.Ayush
Rai.Anvitha

In [ ]:
name=["adhya","aaaadhya","aaaaaadhya"]
for i in name:
 i=i.lstrip("adh")
 print(i)

ya
ya
ya

In [ ]:
url=["https://www.adhya.comhtp","http://www.ajio.com"]
for i in url:
  i=i.lstrip("https://www.")
  print(i)

adhya.comhtp
ajio.com

In [ ]:
url=["https://www.adhya.comhtp","http://www.ajio.com"]
for i in url:
  i=i.rstrip("htp.com")
  print(i)

https://www.adhya
http://www.aji

In [ ]:
url=["https://www.adhya.comhtp","http://www.ajio.com"]
for i in url:
  i=i.strip("htp.com")
  print(i)

s://www.adhya
://www.aji

In [ ]:
#replace
name="Adhya is the good girl, she is good at coding"
replace_string="GOOD"
new_string=name.replace("good","GOOD")
print(new_string)
new_string2=name.replace("good","beautiful",1)
print(new_string2)

Adhya is the GOOD girl, she is GOOD at coding
Adhya is the beautiful girl, she is good at coding

In [ ]:
#find
name="Adhya is the good girl, she is good at coding"
print(name.find("good"))
print(name.find("good",0,15))

13
-1

In [ ]:
name=input("Enter a sentence")
k=name.split()
print(k)
c=0
for i in k:
  if i=="mumbai":
   c=c+1
print(c)

w="adhya,girl,class"
z=w.split(",")
print(z)

Enter a sentenceadhya mumbaiu adhya mumbai mumbai mumbai
['adhya', 'mumbaiu', 'adhya', 'mumbai', 'mumbai', 'mumbai']
3
['adhya', 'girl', 'class']

In [ ]:
#list

l1=[10,30,'NTTdata',[10,20,30]]
print(l1[3],l1[-1])
print(type(l1))
print(l1[0:4:2])

[10, 20, 30] [10, 20, 30]
<class 'list'>
[10, 'NTTdata']

In [ ]:
#concat
l1=[10,20,30]
l2=[12,30,14]
l3=l1+l2
print(l3)

#multiplication
l4=l1*5
print(l4)

#iteration
for i in [10,20,30,40]:
  print(i+5)

#membership
print(100 in[10,50,30])
print(100 in[100,50,30])

[10, 20, 30, 12, 30, 14]
[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]
15
25
35
45
False
True

In [ ]:
#inbuilt func
#max
l1=[10,20,30]
print(max(l1))
l2=['aaa','bbbb','ccc']
print(max(l2))

l3=['aaa','bbbb','ccc']
print(max(l3,key=len))

30
ccc
bbbb

In [ ]:
#append
l1=[10,20,30]
l1.append(100)
print(l1)

[10, 20, 30, 100]

In [ ]:
l1=[10,20,30]

for i in range(6):
   l2=int(input("Enter a number"))
   l1.append(l2)

print(l1)

Enter a number10
Enter a number20
Enter a number30
Enter a number88
Enter a number99
Enter a number99
[10, 20, 30, 10, 20, 30, 88, 99, 99]

In [ ]:
#extend
l1=[10,20,30]
l2=[100,200,300]
l1.extend(l2)
print(l1)

[10, 20, 30, 100, 200, 300]

In [ ]:
#insert
l1=[10,20,30]
l1.insert(1,100)
print(l1)

[10, 100, 20, 30]

In [ ]:
#remove
l1=[10,20,30]
l1.remove(10)
print(l1)

[20, 30]

In [ ]:
#pop
l1=[10,20,30]
l2=l1.pop()
print(l2)
print(l1)

30
[10, 20]

In [ ]:
# clear method

l1 = [10,20,30]
print(l1)
l1.clear()
print(l1)

[10, 20, 30]
[]

In [ ]:
# progrm to remove duplicate elements

l1= [10,20,30,10,20,45]
ulist=[] # unique list

for i in l1:
  if i not in ulist:
    ulist.append(i)


print(l1)
print(ulist)

[10, 20, 30, 10, 20, 45]
[10, 20, 30, 45]

In [ ]:
# list() method

l1 = list()
print(l1)
print(type(l1))
s = "NTT DATA"
l2 = list(s)
print(l2)
l3 = list(range(3,9))
print(l3)

[]
<class 'list'>
['N', 'T', 'T', ' ', 'D', 'A', 'T', 'A']
[3, 4, 5, 6, 7, 8]

In [ ]:
#day 7
#occurence of charcter in list
l1 = [10,2,3,6,8,10,2,2,2,6,8]
l2=[]
l3 = []
 for num in l1:
  if num not in l2:
    l2.append(num)
    l3.appemd(l1.count(num))


print(l2)
print(l3)

[10, 2, 3, 6, 8]
[2, 4, 1, 2, 2]

In [ ]:
#tuple()

li='Ntt Data'
l3=tuple(li)
print(l3)

('N', 't', 't', ' ', 'D', 'a', 't', 'a')

In [ ]:
#tuple with single element
l=(6)
print(type(l))

s=(7,)
print(type(s))

<class 'int'>
<class 'tuple'>

In [ ]:
#tuple concatebation
t1=(10,20,30)
t2=(100,200,300)
t3=t1+t2
print(t3)

(10, 20, 30, 100, 200, 300)

In [ ]:
t=(10,20)
t3=t*3
print(t3)

(10, 20, 10, 20, 10, 20)

In [ ]:
#iterating tuple

t1=(10,20,20)
for i in t1:
  print(i)

10
20
20

In [ ]:
t1 = (1,2,3,4,3.1,[4,5,6],(7,7,8,))
print(t1[4:])

(3.1, [4, 5, 6], (7, 7, 8))

In [ ]:
# Dict

d1 = {"name": "Ram", "age": 30 , "city": "Blr"}
print(d1)
print(type(d1))
print(d1.keys())
print(d1.values())

print(d1.items())

{'name': 'Ram', 'age': 30, 'city': 'Blr'}
<class 'dict'>
dict_keys(['name', 'age', 'city'])
dict_values(['Ram', 30, 'Blr'])
dict_items([('name', 'Ram'), ('age', 30), ('city', 'Blr')])

In [ ]:
#dict

d1={2:100,4:900,3:300}
print(d1)
print(type(d1))
print(d1[2])
print(d1[4])

{2: 100, 4: 900, 3: 300}
<class 'dict'>
100
900

In [ ]:
d2={'aa':100,'bb':200,'cc':300}
print(d2)
print(d2['aa'])

{'aa': 100, 'bb': 200, 'cc': 300}
100

In [ ]:
d3={1:[70,60,30],
    2:(10,20,50),
    6:'Ntt data'}
print(d3)
print(d3[1])
print(d3[2])

{1: [70, 60, 30], 2: (10, 20, 50), 6: 'Ntt data'}
[70, 60, 30]
(10, 20, 50)

In [ ]:
d4={(10,2):5,
    (9,4):7}
print(d4)
print(d4[(10,2)])

{(10, 2): 5, (9, 4): 7}
5

In [ ]:
#iterating throudg dict

d1={10:2,8:4,9:2}

for key1 in d1:
  print(key1)

10
8
9

In [ ]:
#iterating through values
d2={10:2,8:4,9:5}
for value in d2.values():
  print(value)

2
4
5

In [ ]:
#key and value together in dic is called item

d3={10:2,9:1,8:4}
for item in d3.items():
  print(item)

####

d={1:4,2:3}
for k in d1:
  print(d1[k])

(10, 2)
(9, 1)
(8, 4)
2
4
2

In [ ]:
#membership
d1={10:2,8:4,9:5}
print(10 in d1)
print(100 in d1)
if 9 in d1:
  print('9 is present')

True
False
9 is present

In [ ]:
#inbuilt
#keys
d1={10:2,8:4,9:5}
keys=d1.keys()
print(keys)
print(type(keys))

l1=list(keys)
print(l1)
print(type(l1))

dict_keys([10, 8, 9])
<class 'dict_keys'>
[10, 8, 9]
<class 'list'>

In [ ]:
d1={10:2,8:4,9:5}
val=d1.values();
print(val)
print(type(val))

dict_values([2, 4, 5])
<class 'dict_values'>

In [ ]:
d1={10:2,8:4,9:5}
val=d1.items()
print(val)
print(type(val))

dict_items([(10, 2), (8, 4), (9, 5)])
<class 'dict_items'>

In [ ]:
#get
d1={10:2,8:4,9:5}

val=d1.get(10)
print(val)
val2=d1.get(2,999)#default value
print(val2)

2
999

In [ ]:
#pop
d1={10:2,8:4,9:5}

val=d1.pop(10)
print(val)
print(d1)
d2={10:2,8:4,9:5}
val2=d2.pop(3,1000)#1000 isdefault value
print(val2)
print(d2)

2
{8: 4, 9: 5}
1000
{10: 2, 8: 4, 9: 5}

In [ ]:
#update
d1={1:2,3:4,5:6}
d2={100:200,300:400,500:600}
d1.update(d2)
print(d1)

d3={1:2,3:4,5:6}
d3.update({100:20,300:10})
print(d3)

d3.update({1:100000,3:30000})
print(d3)

{1: 2, 3: 4, 5: 6, 100: 200, 300: 400, 500: 600}
{1: 2, 3: 4, 5: 6, 100: 20, 300: 10}
{1: 100000, 3: 30000, 5: 6, 100: 20, 300: 10}

In [ ]:
#clear
d1={1:2,3:4,5:6}
print(d1)
d1.clear()
print(d1)

{1: 2, 3: 4, 5: 6}
{}

In [ ]:
#shallow copy
d1 = {1:100,2:200,3:300}
d2 = d1.copy()

d3 = d1

print(d1)
print(d2)

print(id(d1))
print(id(d2))

d1.update({4:400})

print(d1)
print(d2)
print(d3)

{1: 100, 2: 200, 3: 300}
{1: 100, 2: 200, 3: 300}
138013625242496
138013625241728
{1: 100, 2: 200, 3: 300, 4: 400}
{1: 100, 2: 200, 3: 300}
{1: 100, 2: 200, 3: 300, 4: 400}

In [ ]:
import copy
d1={2:[1,2,3],4:[2,3,4],6:[2,4,5]}
d2=copy.deepcopy(d1)
print(d1)
print(d1)
print(d2)

print(id(d1))
print(id(d2))

{2: [1, 2, 3], 4: [2, 3, 4], 6: [2, 4, 5]}
{2: [1, 2, 3], 4: [2, 3, 4], 6: [2, 4, 5]}
{2: [1, 2, 3], 4: [2, 3, 4], 6: [2, 4, 5]}
138013615279296
138013612186112

In [ ]:
# fromkeys()
keys=[1,2,3,4]
d1=dict.fromkeys(keys,2000)
print(d1)

{1: 2000, 2: 2000, 3: 2000, 4: 2000}

In [ ]:
k={1,2,3,4}
v ={10,20,30,40}
d1=dict(zip(k,v))
print(d1)

{1: 40, 2: 10, 3: 20, 4: 30}

In [6]:
# Assignment
s = " I live in blr , blr is a garden city and beautiful city"   # input
l1=s.split()
print(l1)
d1={}
for i in l1:
  if i not in d1:
    d1[i]=l1.count(i)

print(d1)
d1.pop('beautiful')
print(d1)
d1.pop('and')
print(d1)




S=###{'I':1 , 'live':1, 'in':2, 'blr':2, 'is':1, 'a':1, 'garden':1, 'city':2} # output

['I', 'live', 'in', 'blr', ',', 'blr', 'is', 'a', 'garden', 'city', 'and', 'beautiful', 'city']
{'I': 1, 'live': 1, 'in': 1, 'blr': 2, ',': 1, 'is': 1, 'a': 1, 'garden': 1, 'city': 2, 'and': 1, 'beautiful': 1}
{'I': 1, 'live': 1, 'in': 1, 'blr': 2, ',': 1, 'is': 1, 'a': 1, 'garden': 1, 'city': 2, 'and': 1}
{'I': 1, 'live': 1, 'in': 1, 'blr': 2, ',': 1, 'is': 1, 'a': 1, 'garden': 1, 'city': 2}

In [7]:
l1=[100,200,300]
l2=[]
l2=l1
print(l1)
print(l2)
print(id(l1))
print(id(l2))

[100, 200, 300]
[100, 200, 300]
135826139483648
135826139483648

In [10]:
#shallow copy
import copy
l1=[[1,2,3],[2,4,5],['a',4]]
l2=[]
print(id(l1))
print("First element",id(l1[0]))
print("First element",id(l1[1]))
print("First element",id(l1[2]))
l2=copy.copy(l1)
print(id(l2))
print("First element",id(l2[0]))
print("First element",id(l2[1]))
print("First element",id(l2[2]))

135826139839360
First element 135826983348672
First element 135826139827072
First element 135826139486656
135826139379584
First element 135826983348672
First element 135826139827072
First element 135826139486656

In [11]:
s={}
print(type(s))

<class 'dict'>

In [12]:
s=set()
print(type(s))

<class 'set'>

In [20]:
s1={10,20,30,'NTT',30.9,'aaa'}
s1.add('1100')#single element
print(s1)
s1.update([100,300,200,'NTT'])#multiple elements
print(s1)
s1.remove('NTT')# remove methods throws if we are not passing the argument which is not there in the list
print(s1)
s1.discard('aaa')#discard will not throw if we are not passing the argument which is not there in the list
print(s1)
ele=s1.pop()
print(ele)
print(s1)
s1.clear()
print(s1)

{'1100', 20, 30.9, 30, 10, 'aaa', 'NTT'}
{'1100', 200, 10, 20, 30.9, 30, 'aaa', 100, 300, 'NTT'}
{'1100', 200, 10, 20, 30.9, 30, 'aaa', 100, 300}
{'1100', 200, 10, 20, 30.9, 30, 100, 300}
1100
{200, 10, 20, 30.9, 30, 100, 300}
set()

In [22]:
#union
s1={1,2,3,4}
s2={4,5,6,7}
print(s1|s2)
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [23]:
s1={1,2,3,4}
s2={4,5,6,7}
print(s1&s2)
s3=s1.intersection(s2)
print(s3)

{4}
{4}

In [25]:
s1={1,2,3,4}
s2={4,5,6,7}
print(s1-s2)
s3=s1.difference(s2)
print(s3)

{1, 2, 3}
{1, 2, 3}